//--------------------------
// ColorPecker
//--------------------------
$dimtext: #9f9b96;
$text: #c5c0ba;

#colorpicker {
  
  #appicon {
    min-width: 16px; max-width: 16px;
    min-height: 16px; max-height: 16px;
    border-image: url($dir/../images/woodpecker-small-icon.svg) 0 0 0 0 stretch stretch;
  }

  #swatchbg {
    background-image: url('$dir/../images/checkerboard.png');
    border-radius: 5px;
    #swatch {
      min-width: 130px;
      min-height: 143px;
      border-radius: 4px;
    }
  }
  
  #text {
    background-color: rgba(0,0,0,0);
    color: $dimtext;
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
    padding: 0px;
  }
  #eyedropBtn {
    background-color: rgba(0,0,0,0);
    color: $dimtext;
    font-size: 18px;
    padding: 0px;
    &:hover {
      color: $text;
    }
  }
  
  QComboBox {
    color: $dimtext;
    padding: 0px;
  }

  #a #sliderbg {
    background-image: url('$dir/../images/checkerboard.png');
    min-height: 16px;
    max-height: 16px;
    border-radius: 8px;
    border: 2px solid #222222;
  }
  QSlider {
    height: 16px;
    background-color: #333333;
    border-radius: 8px;
    &::groove:horizontal {
      background-color: rgba(0,0,0,0);
      height: 4px;
    }
    &::handle:horizontal {
      background-color: unquote("qradialgradient(
        cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5,
        stop:0 rgba(0,0,0,0),
        stop:0.6 rgba(0,0,0,0),
        stop:0.8 rgba(0,0,0,0.4)
      );");
      border-radius: 8px;
      border: 2px solid #ddd;
      height: 12px;
      width: 12px;
    }
  }
  QSpinBox {
    background-color: rgba(0,0,0,0);
    color: $dimtext;
    font-size: 14px;
    max-width: 35px;
    min-width: 35px;
    padding-left: 0px;
    padding-right: 0px;
  }
}


//--------------------------
// Magnifier
//--------------------------
#magnifier {
  border: 5px solid #ccc;
  border-radius: 20px;
  #bsquare {
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 1px;
  }
  #wsquare {
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 1px;
  }
}
