<QWidget layout='QVBoxLayout()' fixedWidth='450' padding='0'>
  <StyleSheet args='colorpicker.sass'/>
  <Set attribute='Qt.WA_TranslucentBackground'/>
  <Set windowFlags='Qt.Dialog | Qt.FramelessWindowHint'/>
  <Set windowTitle='APPNAME+" Settings"'/>
  <QWidget id='colorpicker' class='appwindow' layout='QVBoxLayout()' padding='1' spacing='0'>
    
    <!-- TitleBar -->
    <Draggable args='self' layout='QHBoxLayout()' padding='(10,3,10,0)'>
      <QWidget id='appicon'/>
      <QLabel id='title' text='Color Pecker'/>
      <Stretch/>
      <QPushButton text='󰅖' class='close'>
        <Connect clicked='close'/>
      </QPushButton>
    </Draggable>

    <QWidget layout='QHBoxLayout()' padding='10,4,10,10' spacing='15'>

      <!--Current Color -->
      <QWidget id='swatchbg' layout='QVBoxLayout()' padding='0'>
        <QWidget id='swatch'/>
      </QWidget>
      
      <!-- Selection Options -->
      <QWidget id='options' layout='QVBoxLayout()' padding='0'>
        
        <!-- Toolbar -->
        <QWidget id='options' layout='QHBoxLayout()' padding='0' spacing='10'>
          <QLineEdit id='hex' text='#000000'/>
          <Stretch/>
          <QPushButton text='󰈊'/>
          <QComboBox id='mode'>
            <Connect currentIndexChanged='_modeChanged'/>
            <Item args='HSV'/>
            <Item args='RGB'/>
          </QComboBox>
        </QWidget>

        <!-- HSV Sliders -->
        <QWidget id='HSV' layout='QVBoxLayout()' padding='0,2,0,0'>
          <ColorSlider id='h' range='0,360'>
            <Connect valueChanged='_hChanged'/>
          </ColorSlider>
          <ColorSlider id='s' range='0,100'>
            <Connect valueChanged='_sChanged'/>
          </ColorSlider>
          <ColorSlider id='v' range='0,100'>
            <Connect valueChanged='_vChanged'/>
          </ColorSlider>
        </QWidget>
      
        <!-- HSV Sliders -->
        <QWidget id='RGB' layout='QVBoxLayout()' padding='0,2,0,0' visible='False'>
          <ColorSlider id='r' range='0,255'>
            <Connect valueChanged='_rChanged'/>
          </ColorSlider>
          <ColorSlider id='g' range='0,255'>
            <Connect valueChanged='_gChanged'/>
          </ColorSlider>
          <ColorSlider id='b' range='0,255'>
            <Connect valueChanged='_bChanged'/>
          </ColorSlider>
        </QWidget>

        <!-- Opacity -->
        <ColorSlider id='a' range='0,100' value='100'>
          <Connect valueChanged='_aChanged'/>
        </ColorSlider>

      </QWidget>
    </QWidget>
  </QWidget>
</QWidget>

